@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    --nav-load-time: 300ms;
    --nav-link-load-time: 500ms;
    --article-load-delay: calc(var(--nav-load-time) + var(--nav-link-load-time))
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    transition: opacity 0.75s, visibility 0.75s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  
  
  main {
    padding: 30px;
  }
  
  h1 {
    animation: article-load 300ms ease-in var(--article-load-delay);
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
  }
  
  p {
    animation: article-load 300ms ease-in calc(var(--article-load-delay) + 200ms);
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
  }
  
  @keyframes nav-load {
    0% {
      transform: translateY(-100%);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes nav-link-load {
    0% {
      transform: scale(0);
    }
  
    90% {
      transform: scale(1.1);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes nav-first-link-load {
    0% {
      transform: translateX(-1000%);
    }
  
    90% {
      transform: translateX(50%);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes nav-last-link-load {
    0% {
      transform: translateX(1000%);
    }
  
    90% {
      transform: translateX(-50%);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes article-load {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  
  /* Background Styles Only */

  .side-links {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .side-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 10px;
    color: white;
    width: 180px;
    padding: 10px 0;
    border-radius: 10px;
  }
  
  .side-link-youtube {
    background-color: red;
  }
  
  .side-link-twitter {
    background-color: #1DA1F2;
  }
  
  .side-link-github {
    background-color: #6e5494;
  }
  
  .side-link-text {
    margin-left: 10px;
    font-size: 18px;
  }
  
  .side-link-icon {
    color: white;
    font-size: 30px;
  }



ul {
    list-style: none;
}

.landing-Background {
  background: #f0f0f0; /* Solid color for testing */
  background-image: url(Assets/Farm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; /* Optional: centers the image */
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 30px;
}



.heading {
    font-size: 50px;
    font-weight: bold;
}

.container {
    max-width: 1170px;
    height: auto;
    margin: auto;
}

.container-fluid {
    width: 100vw;
}

.jumbotron {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.gallery{
    display: flex;
    flex-direction: row;
}



 *{
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        box-sizing: border-box;
    }
    footer{
        background: #343434;
        padding-top: 50px;
        color: white;
    }
    .container{
        width: 1140px;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .footer-content{
        width: 33.3%;
    }
    h3{
        font-size: 28px;
        margin-bottom: 15px;
        text-align: center;
    }
    .footer-content p{
        width:190px;
        margin: auto;
        padding: 7px;
    }
    .footer-content ul{
        text-align: center;
    }
    .list{
        padding: 0;
    }
    .list li{
        width: auto;
        text-align: center;
        list-style-type:none;
        padding: 7px;
        position: relative;
    }
    .list li::before{
        content: '';
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 100%;
        width: 0;
        height: 2px;
        background: #f18930;
        transition-duration: .5s;
    }
    .list li:hover::before{
        width: 70px;
    }
    .social-icons{
        text-align: center;
        padding: 0;
    }
    .social-icons li{
        display: inline-block;
        text-align: center;
        padding: 5px;
    }
    .social-icons i{
        color: white;
        font-size: 25px;
    }
    a{
        text-decoration: none;
    }
    a:hover{
        color: #f18930;
    }
    .social-icons i:hover{
        color: #f18930;
    }
    .bottom-bar{
        background: #f18930;
        text-align: center;
        padding: 10px 0;
        margin-top: 50px;
    }
    .bottom-bar p{
        color: #343434;
        margin: 0;
        font-size: 16px;
        padding: 7px;
    }